{% extends "base_generic.html" %}
{% block content %}
  <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="register_field">
          {{ form.username.errors }}
          <label for="{{ form.username.id_for_label }}">User Name: </label>
          {{ form.username }}
      </div>
      <div class="register_field">
          {{ form.password.errors }}
          <label for="{{ form.password.id_for_label }}">Password: </label>
          {{ form.password }}
      </div>
      <input type="submit" value="Login">
  </form>
{% endblock %}
