{% extends "base_generic.html" %}
{% block content %}
  <form action="{% url 'accounts:user-update' object.id %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="register_field">
      {{ form.first_name.errors }}
      <label for="{{ form.title.id_for_label }}">First Name: </label>
      {{ form.first_name }}
    </div>
    <div class="register_field">
      {{ form.last_name.errors }}
      <label for="{{ form.title.id_for_label }}">Last Name: </label>
      {{ form.last_name }}
    </div>
    <div class="register_field">
      {{ form.email.errors }}
      <label for="{{ form.title.id_for_label }}">Email: </label>
      {{ form.email }}
    </div>
    <div class="register_field">
      {{ form.username.errors }}
      <label for="{{ form.title.id_for_label }}">Username: </label>
      {{ form.username }}
    </div>
    
    <input type="submit" value="submit">
  </form>
{% endblock %}
