<!DOCTYPE html>

<html lang="en">
<head>
  
  <meta charset="utf-8">

  <title>The So So Blog</title>
  <meta name="description" content="theAverageBlog">
  <meta name="author" content="NguyenTuanAnh">
  {% block head %}{% endblock %}
  <a href="{% url 'account:signup' %}">Sign Up</a>
  <a href="{% url 'account:index' %}">User List</a>
  {% load static %}
</head>

<body>
  <div class="content">
    {% block messages %}{% endblock %}
    {% block content %}{% endblock %}
  </div>
</body>
</html>
