{% extends "base_generic.html" %}
{% block content %}
  {% if object %}
    <form action="{% url 'blogs:post-update' object.id %}" method="post">
  {% else %}
      <form action="{% url 'blogs:post-create' %}" method="post">
  {% endif %}
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="register_field">
          {{ form.title.errors }}
          <label for="{{ form.title.id_for_label }}">Title: </label>
          {{ form.title }}
      </div>
      <div class="register_field">
          {{ form.content.errors }}
          <label for="{{ form.content.id_for_label }}">Content: </label>
          {{ form.content }}
      </div>
      <input type="submit" value="{% if object %} Edit {% else %} Create {% endif %}">
  </form>
{% endblock %}
